<ul>
  <% @articles.each do |article| %>
   <li>
     <%= article.title %><br />
     <%= article.content %>
     Written by <%= article.author %> at <%= article.created_at %>
   </li>
  <% end %>

  <h2> <%= article.comments.each do |comment| %> Comments</h2>
      <%= comment.content %>
      <h3>Add a comment</h3>
      <%= render 'comments/form' %>
      <% end %>
  <br>
</ul>
